.imagen-ligth{
  position: fixed;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center; /*centra el contenido de la caja de forma horizontal*/
  align-items: center; /*centra el contenido de la caja de forma vertical*/
  transition: transform .2s ease-in-out;
  transform: translate(100%);
  flex-wrap: wrap;
  text-align: center;
  z-index: 100;
}

.card-img-top{
  max-height: 155px;
}

.show{
  transform: translate(0);
}

.agregar-img{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transition: transform .3s .2s;
  transform: scale(0);
  max-width: 500px;
  max-height: 600px;

}

.showImage{
  transform: scale(1);
  display: initial;
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;

}

